html,
body,
#content, #wrapper{
  height: 100%;
}

body {
  font-family: 'Press Start 2P', cursive;
  z-index: -2;
  width: 90%;
}


#content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 200px;
  height: 100%;

}


body {
  background: linear-gradient(-45deg, #000000, #917eff, #ff7eb9);
  background-size: 400% 400%;
  animation: hueShift 10s ease-in-out infinite;

  
}

#wrapper {
height: 100%;
}

h1 {
  font-size: 22px;
}  
#todoContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
  height: 500px; /* set a fixed height */
}

#todoContainer>div {
  display: grid;
  width: 100%;
  border: 2px solid #ff7eb9;
  border-radius: 10px;
  background: linear-gradient(135deg, #ff7eb9, #917eff);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  padding: 4%;
  height: 200px; /* set a fixed height */
}


@keyframes hueShift {
  0% {
    background-position: 50% 2%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}


#todoContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
  

}

#todoContainer>div {
  display: grid;
  width: 100%;
  border: 2px solid #ff7eb9; /* Cute border */
  border-radius: 10px; /* Rounded corners */
  background: linear-gradient(135deg, #ff7eb9, #917eff); /* Vaporwave gradient background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  padding: 4%;
  max-height: 200px;
}

#todoContainer>div:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



button {
  font-family: 'Press Start 2P', cursive;

}
.delete {
  background-color: #ff4d4d; /* Red background color */
  color: white; /* White font color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  padding: 5px 10px; /* Padding around the text */
  cursor: pointer; /* Change cursor to pointer when hovering */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.delete:hover {
  background-color: #b40000; /* Darker red background color on hover */
}



[id*="todoTitle"] {
  font-size: 1em;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

[id*="todoTitle"]>p {
  font-size: 1em;
  font-weight: 100;
  color: white;
}

.collapsible {
  border-radius: 10px;
  background-color: #d19cc6;
  color: white;
  cursor: pointer;
  width: 200px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.shownotes {
  background-color: rgb(188, 188, 238)
}

.shownotes:hover {
  background-color: #555;
}

.notes {
  display: none;
  overflow-y: auto; /* Enable scrolling when content exceeds the fixed height */
  height: 50px; /* Set a fixed height for the notes */
  transition: max-height 2s ease-in-out;
}

input {
  background: none;
  border: none;
  color: black;
  font-family: 'Press Start 2P', cursive;

}

input::placeholder {
  color: rgba(80, 80, 80, 0.555);
  font-family: 'Press Start 2P', cursive;
}

button {
  border-radius: 10px;
  background-color: #d19cc6;
  color: white;
  cursor: pointer;
  width: 200px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

#lists {
  padding: 1%;
  display: grid;
  border: 5px solid rgb(255, 139, 203);
  box-shadow: 1px 5px 5px rgb(255, 139, 203);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr;
  background-color: rgb(255, 187, 227);
  box-shadow: 1px 5px 5px rgb(0, 0, 0);
  min-height: 100%;
}

#lists>ul {
  order: -1;
  grid-column: 1 / span 2;
  border-radius: 1%;
  box-shadow: 5px 5px 2px 2px rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

#AllTodos, #CompletedTodos{
  background-color: #e1eedd;
}



#lists>ul>li {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  height: 30%;
  width: 70%;
  font-size: 0.7em;
  border-radius: 5px;
  box-shadow: 2px 1px 1px 1px rgb(255, 255, 255);
  transition: all 0.3s ease; /* Add transition to normal state */
}

#lists>ul>li:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
  background-color: #fff59b;
}
#lists>ul>li>button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 10%;
  background-color: #ff7eb9;
  border: 2px solid #917eff;
  box-shadow: 1px 1px 1px #917eff;
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  cursor: pointer;
  transition: background-color 0.1s ease, border-color 0.3s ease;
}

#lists>ul>li>button:hover {
  background-color: #917eff;
  border-color: #ff7eb9;
}

#lists>ul>li>button::before {
  content: "x";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lists>ul>.selected {
  background-color: #7eff93;
}


#AllTodos {
  order: -1;
}

#CompletedTodos {
  order: -1;
}

input[type="date"] {
  font-family: 'Press Start 2P', cursive;
  appearance: none;
  box-sizing: border-box;
  border: 1px solid black;
  background: transparent;
  font-size: 0.7rem;
  padding: 8px;

  ::-webkit-datetime-edit-text {
    padding: 0 2rem;
  }

  ::-webkit-datetime-edit-month-field {
    text-transform: uppercase;
  }

  ::-webkit-datetime-edit-day-field {
    text-transform: uppercase;
  }

  ::-webkit-datetime-edit-year-field {
    text-transform: uppercase;
  }

  ::-webkit-inner-spin-button {
    display: none;
  }

  ::-webkit-calendar-picker-indicator {
    background: transparent;
  }
}



h1 {
  text-shadow: 3px 0px 3px #6200ff;
  animation: glitch 6s infinite linear;
}

@keyframes glitch {
  0% {
    transform: skew(1deg);
    text-shadow: 0 0 6px #ff7eb9,
  }

  50% {

    transform: skew(0deg);
    text-shadow: 0 0 3px #ff7eb9
  }

  100% {
    transform: skew(2deg);
    text-shadow: 50px 20px 1px #917eff,

  }
}

html,
body,
#content {
  height: 100%;
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #fd45aa56;
  outline: none;
  background-color: #fd45aa75;
  font-family: "Ｖａｐｏｒｗａｖｅ";
  font-size: 16px;
  transition: all 0.9s ease-in-out;
}

input[type="checkbox"]::before {
  content: "✓";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  font-size: 25px;
  font-weight: bold;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}

#listsh1 {
  order: -2;

}
