html,
body,
#content, #wrapper{
  height: 100%;
}

body {
  font-family: 'Press Start 2P', cursive;
  z-index: -2;
  width: 90%;
}


#content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 200px;
  height: 100%;

}


body {
  background: linear-gradient(-45deg, #cbffd8, #6db970, #3ed157);
  background-size: 400% 400%;
  animation: hueShift 3s alternate infinite;

}
@keyframes hueShift {
  0% {
    background-position: 50% 2%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

#wrapper {
height: 100%;
}

h1 {
  font-size: 22px;
}  


#todoContainer>div {
  display: grid;
  width: 90%;
  border: 2px solid #6bda7e;
  border-radius: 10px;
  background: linear-gradient(135deg, #8cdfa5, #82f391);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  padding: 4%;
  height: 200px; /* set a fixed height */
}





#todoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}


#todoContainer>div:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.delete {
  background-color: #ff4d4d; /* Red background color */
  color: white; /* White font color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  padding: 5px 10px; /* Padding around the text */
  cursor: pointer; /* Change cursor to pointer when hovering */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.delete:hover {
  background-color: #b40000; /* Darker red background color on hover */
}



[id*="todoTitle"] {
  font-size: 1em;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

[id*="todoTitle"]>p {
  font-size: 1em;
  font-weight: 100;
  color: white;
}

.collapsible {
  border-radius: 10px;
  color: white;
  cursor: pointer;
  width: 200px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.shownotes {
  background-color: #adcaa4;
  border-radius: 5px; /* Rounded corners */
  padding: 5px 10px; /* Padding around the text */
}

.shownotes:hover {
  background-color: #555;
}

.notes {
  display: none;
  overflow-y: auto; /* Enable scrolling when content exceeds the fixed height */
  height: 50px; /* Set a fixed height for the notes */
  transition: max-height 2s ease-in-out;
}

input {
  background: none;
  border: none;
  color: black;
  font-family: 'Press Start 2P', cursive;

}

input::placeholder {
  color: rgba(80, 80, 80, 0.555);
  font-family: 'Press Start 2P', cursive;
}

button {
  font-family: 'Press Start 2P', cursive;
  border-radius: 10px;
  background-color: #d19cc6;
  color: white;
  cursor: pointer;
  width: 200px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

#lists {
  padding: 3%;
  display: grid;
  border: 10px solid #aef58d8a;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.7fr 1fr;
  background-color: #d6ebcd;
  box-shadow: 3px 5px 5px rgb(0, 0, 0);
  min-height: 100%;
  gap: 3%;
}
#listsh1 {
  order: -2;
}

#lists>ul {
  order: -1;
  grid-column: 1 / span 2;
  border-radius: 1%;
  box-shadow: 1px 2px 2px 2px rgb(78, 77, 77);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#AllTodos, #CompletedTodos{
  background-color: #e1eedd;
}



#lists>ul>li {
  position: relative;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  background-color: #adcaa4;
  padding: 10px;
  height: 50px;
  width: 250px;
  font-size: 0.8em;
  border-radius: 5px;
  box-shadow: 2px 1px 1px 1px rgb(255, 255, 255);
  transition: all 0.3s ease; /* Add transition to normal state */
}

#lists>ul>li:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
  background-color: #fff59b;
}
#lists>ul>li>button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 10%;
  background-color: #64a16f;
  border: 2px solid #d6ebcd;
  box-shadow: 1px 1px 1px #646464;
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  cursor: pointer;
  transition: background-color 0.1s ease, border-color 0.3s ease;
}

#lists>ul>li>button:hover {
  background-color: #b40000;
  border-color: #fcfcfc;
}

#lists>ul>li>button::before {
  content: "x";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lists>ul>.selected {
  background-color: #7eff93;
}

#inputContainer {
  display: grid;
  grid-template-rows: repeat(7, 0.1fr);
  gap: 5px;
}
.add-list-form {
  display: grid;
  grid-template-rows: 0.1fr 0.2fr 0.2fr;
}
#inputContainer button,
.add-list-form button {
  background-color: #6bda7e;
  width: 200px;
  height: 50px;
}


#AllTodos {
  order: -1;
}

#CompletedTodos {
  order: -1;
}

input[type="date"] {
  font-family: 'Press Start 2P', cursive;
  appearance: none;
  box-sizing: border-box;
  border: 1px solid black;
  background: transparent;
  font-size: 0.7rem;
  padding: 8px;

  ::-webkit-datetime-edit-text {
    padding: 0 2rem;
  }

  ::-webkit-datetime-edit-month-field {
    text-transform: uppercase;
  }

  ::-webkit-datetime-edit-day-field {
    text-transform: uppercase;
  }

  ::-webkit-datetime-edit-year-field {
    text-transform: uppercase;
  }

  ::-webkit-inner-spin-button {
    display: none;
  }

  ::-webkit-calendar-picker-indicator {
    background: transparent;
  }
}



h1 {
  font-size: 22px;
  animation: jump 2s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
    text-shadow: 2px 2px 2px #36a047;
  }
  100% {
    transform: translateY(0);
  }
}

html,
body,
#content {
  height: 100%;
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #64a16f;
  outline: none;
  background-color: #b8e6aa;
  font-family: "Ｖａｐｏｒｗａｖｅ";
  font-size: 16px;
  transition: all 0.9s ease-in-out;
}

input[type="checkbox"]::before {
  content: "✓";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  font-size: 25px;
  font-weight: bold;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}


